@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --theme : #ffffff;
    --color : #000000;
    --shadow : #15151568;

    /* --dark : #121212 ;
    --darkcolor: #ffffff ;
    --darkshadow: #ffffff3a ; */
}
*{
    margin: 0;
    padding: 0;
    color: var(--color);
    transition: background 0.3s ease;
}
.loader {
    font-family: 'Cookie', cursive;
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:var(--theme);
    border: 1px solid black;
    z-index: 10;
}
.name::before {
    content: "";
    position: absolute;
    border: 5px solid rgb(184, 184, 184);
    height: 2rem;
    animation: flare 2s ease-in infinite;
    mix-blend-mode: screen;
    transform: rotate(10deg);
}
@keyframes flare {
    0%{
        transform: translateX(0) rotate(10deg);
    }
    50% {
        transform: translateX(12rem) rotate(10deg);
    }
    100% {
        transform: translateX(12rem) rotate(10deg);
    }
}
body {
    max-width: 100%;
    background: var(--theme);
    color: var(--color);
}

.flex {
    display: flex;
    align-items: center;
}
.jusbtw {
    justify-content: space-between;
}
.justcent {
    justify-content: center;
}
.alignbase {
    align-items: baseline;
}
header {
    height: 9vh;
    font-family: 'Cookie', cursive;
    font-size: x-large;
    box-shadow: 0px 1px 2px var(--color);
}
i{
    font-size: large;
    margin-right: 1rem;
}
.roll {
    animation: roll 0.5s 1 ease-out;
}
@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 2rem;
}
.picwall {
    position: relative;
    width: 40%;
    height: 60vh;
    background-color: var(--theme);
    padding: 1rem;
    display: grid;
    align-content: center;
    justify-items: center;
}
.quoteswall {
    width: 40%;
    height: fit-content;
    padding: 1rem;
    border: 1px solid var(--color);
    margin-left: 3rem;
    background-color: var(--theme);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 3px 10px var(--shadow);
}
b {
    font-size: larger;
    font-weight: bolder;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: small;
}
.row {
    width: 70%;
    height: fit-content;
    margin: 1px;
}
.cell {
    width: 30%;
    aspect-ratio: 1;
    margin-right: 2px;
    background-color: var(--theme);
    border: 1px solid var(--color);
    overflow: hidden;
    box-shadow: 0px 1px 3px var(--color);
}
.fillcell{
    width: 40%;
    aspect-ratio: 1;
    background-color: var(--theme);
    border: 1px solid var(--color);
    box-shadow: 0px 1px 4px var(--color);
}
.cent {
    width: 60%;
    aspect-ratio: 1;
    border: 1px solid var(--color);
    margin-top: 2px;
    background-color: var(--theme);
    box-shadow: 0px 1px 6px var(--color);
    z-index: 3;
    overflow: hidden;
}
.row2 {
    width: 90%;
}
.startcol {
    width: 20%;
    height: 100%;
    margin-right: 5px;
}
.endcol {
    width: 20%;
    height: 100%;
}
.cell2 {
    overflow: hidden;
    width: 99%;
    aspect-ratio: 1;
    margin: 3px;
    border: 1px solid var(--color);
    background-color: var(--theme);
    box-shadow: 0px 1px 3px var(--color);
}
.cell3 {
    width: 80%;
    aspect-ratio: 1;
    margin: 3px;
    border: 1px solid var(--color);
    background-color: rgb(145, 145, 145);
    box-shadow: 0px 1px 3px var(--color);
}
img {
    width: 100%;
}
.wrapper2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.card {
    text-decoration: none;
    width: 40%;
    display: flex;
    align-items: center ;
    height: fit-content;
    padding:1rem;
    margin: 1rem;
    border: 1px solid var(--color);
    box-shadow: 1px 2px 20px 3px var(--shadow);
    border-radius: 10px;
}
.profile {
    height: fit-content;
    aspect-ratio: 1;
    border: 1px solid var(--color);
    border-radius: 50%;
    margin: 0.5rem;
    margin-left: 1rem;
    overflow: hidden;
}
.instaname {
    width: 90%;
    padding: 1rem;
    font-weight: bold;
    margin: 1rem;
}
@media only screen and (max-width: 1024px) {
    .wrapper {
        display: grid;
        align-content: center;
        justify-items: center;
    }
    .card {
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .quoteswall {
        width: 90%;
        height: fit-content;
        margin-left: 0px;
        margin-top: 3rem;
    }
    .picwall {
        width: 95%;
        height: 100%;
    }
    .instaname {
        width: 90%;
        height: fit-content;
    }
    .profile {
        width: 50%;
        height: fit-content;
    }
}
@media only screen and (max-width: 826px) {
    .wrapper {
        display: grid;
        align-content: center;
        justify-items: center;
    }
    .card {
        margin-left: 1rem;
        padding: 0.2rem;
        box-shadow: 0px 1px 10px 1px var(--shadow);
        display: grid;
        align-content: center;
        justify-items: center;
    }
    .picwall {
        width: 100%;
        height: 100%;
    }
    .quoteswall {
        font-size: small;
    }
}